*{
    padding: 0%;
    margin: 0%;
}
 .container_main_div{
  background-color: rgb(212, 212, 212);
}
.row_color{
    background-color: aqua;
    height: 70px;
    padding-top: 16px;
    position: sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    box-shadow: 10px 5px 12px black;
    z-index: 999;
}
 .position-group{
    position: sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    box-shadow: 10px 5px 12px black;
}
.slider{ 
    height: 700px;
}
.hr{
    background-color: blueviolet;
    height: 2px;
    border: none;
    margin-top: 70px;
}
.our-team{
    text-align: center;
    padding-top: 40px;
}
.text{
    padding-top: 20px;
}
.img-menu{
    height: 500px;
}
.form-bg{
    background-color: beige;
    height: 500px;
}
.margind-form{
   padding-top: 50px;
}  